language: python
branches:
  only:
  - gh-pages
  - /.*/
python:
- '3.3'
- '3.4'
- '3.5'
install:
- pip install -r requirements.txt
- pip install -r requirements-test.txt
- pip install pycodestyle
script:
- py.test tests/templateTest.py
- pycodestyle api/*.py crawler/*.py
notifications:
    slack: bigdataclub:3NokIq4HnvzTmdUYeGA7qui4
    email: false
